body, h1, ul, li, p{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and border are included within element's total dimensions */
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.5; /* space between two lines of text */
  background-color: #f9f9f9; /* light */
  color: #333; /* dark */
  padding: 0 20px; 
  margin: 0;
}

header{
  background: #4caf50; /* green bg */
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  background: #333; /* dark bg */
  padding: 10px;
}

nav ul li{
  margin: 0 15px; /* add spaces between li items (outside spaces) */
}

nav ul li a{
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover{
  background: #4caf50; /* green bg */
  border-radius: 5px;
}

main{
  flex: 1;
  margin: 20px 0;
}

main p{
  margin-bottom: 20px;
}

footer{
  list-style: none;
  background: #333; /* dark bg */
  color: white;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
}
